/* Add CSS Styling */

.odd-color {
    background-color: rgb(255, 192, 203);
}

.odd-font {
    font-family: "DejaVu Sans", Verdana, sans-serif;
}

.odd-size {
    font-size: 24px;
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth-element {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: 700;
}