/* Add CSS Styling */

.click-1,
.click-2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.click-1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.click-2 {
    background-color: rgb(255, 255, 0);
}